<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Noelle Booth Psychotherapy - Contact</title>

    <link rel="stylesheet" th:href="@{/css/base.css}">
    <link rel="stylesheet" th:href="@{/css/contact.css}">
    <link rel="stylesheet" th:href="@{/css/edit.css}">

    <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY&callback=initMap"></script>
    <script th:src="@{/js/maps.js}"></script>
</head>
<body>
    <div th:replace="~{fragments :: top-bar-edit('contact')}"></div>

    <div id="content">
        <div th:replace="~{fragments :: header(${title})}"></div>

        <div id="contact-form-wrapper">
            <textarea id="text1" class="editable-p" placeholder="Text box 1" th:text="${text1}"></textarea>
            <form id="contact-form">
                <label>
                    <input type="text" name="name" placeholder="Name"></label>
                <label>
                    <input type="email" name="email" placeholder="E-mail">
                </label>
                <label>
                    <textarea id="message-box" maxlength="1500" rows="10" placeholder="Message" draggable="false" ></textarea>
                </label>

                <div>
                    <span>Send me a copy</span>

                    <label class="checkbox-container">
                        <input type="checkbox" name="cc" checked="checked">
                        <span class="checkmark"></span>
                    </label>
                </div>
                <label>
                    <input type="button" class="button">
                </label>
            </form>
        </div>
        <div id="location-wrapper">
            <textarea id="text2" class="editable-p" placeholder="Text box 2" th:text="${text2}"></textarea>
            <div id="map"></div>
        </div>
    </div>

    <div th:replace="~{fragments :: edit-utils}"></div>
</body>
<script>const page = 'contact';</script>
<script th:src="@{/js/edit.js}"></script>
</html>