<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Noelle Booth Psychotherapy</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Chiron+Hei+HK:ital,wght@0,200..900;1,200..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">

    <link rel="stylesheet" th:href="@{/css/base.css}">
    <link rel="stylesheet" th:href="@{/css/edit.css}">
    <link rel="stylesheet" th:href="@{/css/index.css}">
</head>
<body>
<div id="background">
    <div th:replace="~{fragments :: top-bar-edit('home')}"></div>


    <div id="headers">
        <input id="title" class="editable-h1" type="text" placeholder="Title" th:value="${title}"></input>
        <input id="subtitle" class="editable-h3" type="text" placeholder="Subtitle" th:value="${subtitle}"></input>
        <textarea id="text" class="editable-p" th:text="${text}" placeholder="Text"></textarea>
        <a href="/contact">
            <div id="contact-btn" class="button">
                <h4>Contact</h4>
            </div>
        </a>
    </div>

    <div th:replace="~{fragments :: edit-utils}"></div>
</div>
    </body>
    <script>const page = 'home';</script>
    <script th:src="@{/js/edit.js}"></script>
</html>