<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Noelle Booth Psychotherapy - Services</title>

    <link rel="stylesheet" th:href="@{/css/base.css}">
    <link rel="stylesheet" th:href="@{/css/services.css}">
    <link rel="stylesheet" th:href="@{/css/edit.css}">
</head>
<body>
<div th:replace="~{fragments :: top-bar-edit('services')}"></div>

<div id="content">
    <div th:replace="~{fragments :: header(${title})}"></div>

    <div id="service-wrapper">
        <div>
            <div class="service-img" id="service-img-1"></div>
            <textarea id="text1" class="service-text editable-p" th:text="${text1}"></textarea>
        </div>
        <div>
            <div class="service-img" id="service-img-2"></div>
            <textarea id="text2" class="service-text editable-p" th:text="${text2}"></textarea>
        </div>
        <div>
            <div class="service-img" id="service-img-3"></div>
            <textarea id="text3" class="service-text editable-p" th:text="${text3}"></textarea>
        </div>
    </div>

    <div id="footer">
        <span>Unsure of which service will suit you best?</span>
        <a href="/contact">
            <div id="contact-btn" class="button">
                <h4>Contact</h4>
            </div>
        </a>
    </div>

    <div th:replace="~{fragments :: edit-utils}"></div>
</div>
</body>
<script>const page = 'services';</script>
<script th:src="@{/js/edit.js}"></script>
</html>