:root {
    --primary-colour: rgba(16, 147, 145, 0.45);
    --secondary-colour: rgba(16, 147, 145, 1);

    --secondary-colour-rgb: 92, 202, 199;
    --highlight-colour: rgba(209, 128, 56, 1);
    --highlight-colour-2: rgb(251, 137, 21);
    --highlight-colour-hover: rgba(233, 160, 100, 0.85);
    --accent-colour: rgba(84, 79, 78, 1);
    --line-colour: rgb(244, 244, 244);
    --background-colour: rgba(16, 147, 145, 0.25);
}

body {
    height: 100%;
    width: 100vw;
    margin: 0;
    /* background: radial-gradient(var(--secondary-colour), var(--primary-colour)); */
    background: var(--background-colour);
    display: flex;
    flex-direction: column;
}
h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    color: var(--line-colour);
}

#top-bar {
    display: flex;
    width: 100%;
    height: 60px;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 10px;

    background: linear-gradient(to bottom, var(--secondary-colour) 83%, rgba(var(--secondary-colour-rgb), 0));
}
#top-bar > #links {
    position: relative;
    width: 60%;
    height: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
#top-bar h4 {
    text-transform: uppercase;
    cursor: pointer;
    transition: letter-spacing 0.3s ease-in-out;
}
#top-bar h4:hover {
    letter-spacing: 5px;
}
a {
    display: inherit;
    text-decoration: none;
    width: min-content;
    height: min-content;
}
.selected-page {
    font-weight: 425;
}

* {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    letter-spacing: 3px;
}

h1 {
    font-size: 4rem;
    line-height: 4rem;
}
h2 {
    font-size: 2rem;
}
h3 {
    font-size: 1.75rem;
}
h4 {
    font-size: 1rem;
    line-height: 1rem;
}
p {
    font-size: 0.8rem;
}

.button {
    background-color: var(--highlight-colour);
    border: var(--primary-colour) 1px solid;
    border-radius: 5px;

    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
}
.button > * {
    text-transform: uppercase;
}

#content {
    width: 80%;
    height: calc(100vh - 100px); /* Top bar is 60px with margin */
    overflow-y: auto;
    align-self: center;
    background-color: var(--primary-colour);


}
#content::-webkit-scrollbar {
    width: 6px;
}
#content::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 4px;
}
#content::-webkit-scrollbar-track {
    background: var(--primary-colour);
}

#header {
    text-align: center;
    display: flex;
    align-items: center;
    gap: 10px;
    height: min-content;
    margin-top: 30px;
    margin-bottom: 40px;

}
#header h1 {
    color: var(--highlight-colour-2);
    animation: letter-spacing 1.75s forwards ease-in-out;
    letter-spacing: 4px;
}
.line {
    flex-grow: 1;
    height: 2px;
    background-color: var(--accent-colour);
    animation: letter-spacing 1.75s forwards ease-in-out;
}
@keyframes letter-spacing {
    from {
        letter-spacing: 20px;
        opacity: 0;
    }
}

#contact-btn {
    width: 160px;
    height: 40px;

    margin-top: 10px;

    clip-path: inset(0 0 100% 0);
    animation: sweep forwards 1s 2s;
}
#contact-btn:hover {
    background-color: var(--highlight-colour-hover);
}
@keyframes sweep {
    to {
        clip-path: inset(0 0 0 0);
    }
}
@keyframes scroll {
    to {
        transform: translateX(0);
        opacity: 1;
    }
}