#background {
    width: 100vw;
    height: 100vh;

    background:
        /* Colored overlay: solid color fading to transparent on the right */
            linear-gradient(to right, var(--primary-colour) 50%, rgba(0, 0, 0, 0)),
                /* Background image */
            url('/images/background.jpg') no-repeat center/cover;

}

#headers {
    position: absolute;
    width: 500px;
    height: 300px;
    left: 15%;
    top: 30%;
}
.sweep-hidden {
    clip-path: inset(0 100% 0 0);
}
#headers > h1 {
    color: var(--secondary-colour);
    animation: sweep forwards 1s;
}
#headers > h3 {
    color: var(--secondary-colour);
    animation: sweep forwards 1s .5s;
}
#scroll-text {
    margin-top: 10px;
    transform: translateX(50%);
    animation: scroll forwards 1s 1s;
    opacity: 0;
}
#contact-btn {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 160px;
    height: 40px;

    margin-top: 20px;

    clip-path: inset(0 0 100% 0);
    animation: sweep forwards 1s 2s;
}
#contact-btn > * {
    text-transform: uppercase;
}
@keyframes sweep {
    to {
        clip-path: inset(0 0 0 0);
    }
}
@keyframes scroll {
    to {
        transform: translateX(0);
        opacity: 1;
    }
}
