#content {
    display: flex;
    flex-direction: column;
    padding: 5px;
}
#service-wrapper {
    display: flex;
    width: 100%;
    height: auto;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: center;
}
#service-wrapper > * {
    min-width: 400px;
    max-width: 450px;
    justify-self: center;
}
.service-img {
    width: 100%;
    aspect-ratio: 3 / 2;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
#service-img-1 {
    background-image: url("/images/service1.jpeg");
}
#service-img-2 {
    background-image: url("/images/service2.png");
}
#service-img-3 {
    background-image: url("/images/service3.jpg");
}
.service-text {
    text-align: center;
    margin-top: 15px;
}
#footer {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
}