<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div id="top-bar" th:fragment="top-bar(selectedPage)">
        <div id="links">
            <a href="/"><h4 th:classappend="${selectedPage == 'home'} ? ' selected-page'">Home</h4></a>
            <a href="/about"><h4 th:classappend="${selectedPage == 'about'} ? ' selected-page'">About</h4></a>
            <a href="/services"><h4 th:classappend="${selectedPage == 'services'} ? ' selected-page'">Services</h4></a>
            <a href="/contact"><h4 th:classappend="${selectedPage == 'contact'} ? ' selected-page'">Contact</h4></a>
            <a href="/supervision"><h4 th:classappend="${selectedPage == 'supervision'} ? ' selected-page'">Supervision</h4></a>
        </div>
    </div>

    <div id="header" th:fragment="header(text)">
        <div class="line"></div>
        <h1 th:text="${text}"></h1>
        <div class="line"></div>
    </div>
</body>
</html>