<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Noelle Booth Psychotherapy</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Chiron+Hei+HK:ital,wght@0,200..900;1,200..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">

    <link rel="stylesheet" th:href="@{/css/base.css}">
    <link rel="stylesheet" th:href="@{/css/index.css}">

</head>
<body>
    <div id="background">
        <div th:replace="~{fragments :: top-bar('home')}"></div>

        <div id="headers">
            <h1 class="sweep-hidden" th:text="${title}">Noelle Booth</h1>
            <h3 class="sweep-hidden" th:text="${subtitle}">Physcotherapy</h3>
            <p id="scroll-text" th:text="${text}">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A commodi error exercitationem fugit officia provident quaerat qui quidem quod, velit! Ab corporis, delectus dolorem ducimus, error ipsa iste iure labore perferendis quasi ratione ut? Maiores!</p>
            <a href="/contact">
                <div id="contact-btn" class="button">
                    <h4>Contact</h4>
                </div>
            </a>
        </div>
    </div>
</body>
</html>