<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Noelle Booth Psychotherapy - Services</title>

    <link rel="stylesheet" th:href="@{/css/base.css}">
    <link rel="stylesheet" th:href="@{/css/services.css}">
</head>
<body>
    <div th:replace="~{fragments :: top-bar('services')}"></div>

    <div id="content">
        <div th:replace="fragments :: header(${title})"></div>

        <div>
            <div class="service-img" id="service-img-1"></div>
            <p class="service-text" th:text="${text1}">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque excepturi ipsum iure iusto libero minima molestias rerum voluptatibus. Debitis, sint!</p>
        </div>
        <div>
            <div class="service-img" id="service-img-2"></div>
            <p class="service-text" th:text="${text2}">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque excepturi ipsum iure iusto libero minima molestias rerum voluptatibus. Debitis, sint!</p>
        </div>
        <div>
            <div class="service-img" id="service-img-3"></div>
            <p class="service-text" th:text="${text3}">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque excepturi ipsum iure iusto libero minima molestias rerum voluptatibus. Debitis, sint!</p>
        </div>

        <div id="footer">
            <span>Unsure of which service will suit you best?</span>
            <a href="/contact">
                <div id="contact-btn" class="button">
                    <h4>Contact</h4>
                </div>
            </a>
        </div>
    </div>
</body>
</html>